data
notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/
notebooks/**/data
notebooks/**/img


**/.ipynb_checkpoints
**/__pycache__
data/
*.json
*.params
*.DS_Store
*.csv
*egg-info*
dist*
_build/
test*.md
run.sh

.conda
.devcontainer
.venv

